<%= form_with(model: friendsdb) do |form| %>
  <% if friendsdb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friendsdb.errors.count, "error") %> prohibited this friendsdb from being saved:</h2>

      <ul>
        <% friendsdb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3" >

    <%= form.text_field :First_Name, class:"form-control", placeholder:'First Name' %>
  </div>

  <div class="field mb-3">
   
    <%= form.text_field :Last_Name, class:"form-control", placeholder:'Last Name' %>
  </div>

  <div class="field mb-3">
  
    <%= form.text_field :Email, class:"form-control", placeholder:'name@example.com' %>
  </div>

  <div class="field mb-3">
   
    <%= form.text_field :Phone_Number, class:"form-control", placeholder:'Phone Number' %>
  </div>

  <div class="field mb-3">
  
    <%= form.text_field :Twitter, class:"form-control", placeholder:'Twitter' %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
